.imagenfond{

    background: url("../img/1Mesa\ de\ trabajo\ 1\ copia\ 7.png");
    background-size: cover;
    background-position: center;
    height: 100vh;


    
}
.card2{
    background: #BAE8E8;
    height: auto;
    border-radius: 17px;
    color: #272343;
}

.margendescubre{
    margin-top: 10vh;
}
.margendescubre2{
    margin-top: 15vh;
}

@media (max-width: 575.98px){
    .card2{
        height: auto;
    }
}
@media (max-width: 767.98px){
    .card2{
        height: auto;       
    }
    .imagenfond{
        height: auto;
    }
    .margendescubre{
        margin-top: 10vh;
    }
    .margendescubre2{
        margin-top: 15vh;
    }

}
@media (max-width: 991.98px){
    div{
        margin-top: 10px;
    }
    .imagenfond{
        height: auto;
    }
    .margendescubre{
        margin-top: 5vh;
    }
    .margendescubre2{
        margin-top: 5vh;
    }

}
@media (max-width: 1199.98px){

    .imagenfond{
        height: auto;
    }
    .margendescubre{
        margin-top: 5vh;
    }
    .margendescubre2{
        margin-top: 5vh;
    }

}
