.fondformulario{
    
    background: url("../img/35Mesa\ de\ trabajo\ 3.png");
    background-size: cover;
    background-position: center;
    height: 80vh ;
    
}

.mensaje{
    height: 120px;
}
.colorformulario{
    color: #F6FFFF;
}
.formuindividual{
    border-radius: 15px;
}
.titulo{
    margin-top: 100px;
}
.botonformulario{
    width: 100%;
    border-radius: 15px;
    background: #BAE8E8;
    color: #272343;
}

.footer{
    background: #BAE8E8;
    color: #272343;
    
}
.iconoform{
    height: 30px;
}
.footer2{
    background: #272343;
    color: #FFFFFF;
}
.logofooter{
    height: 30px;
}